Versie 0.9/SAD Uitwisselberichten/XSD en voorbeeld XML/sadcommon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2012-2023 TNO Geologische Dienst Nederland

    Alle rechten voorbehouden.
    Niets uit deze software mag worden vermenigvuldigd en/of openbaar gemaakt door middel van druk, fotokopie,
    microfilm of op welke andere wijze dan ook, zonder voorafgaande toestemming van TNO.

    Indien deze software in opdracht werd uitgebracht, wordt voor de rechten en verplichtingen van opdrachtgever
    en opdrachtnemer verwezen naar de Algemene Voorwaarden voor opdrachten aan TNO, dan wel de betreffende
    terzake tussen de partijen gesloten overeenkomst.

-->
<schema xmlns:gml="http://www.opengis.net/gml/3.2" 
        xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0" 
        xmlns:sadcom="http://www.broservices.nl/xsd/sadcommon/0.9" 
        xmlns="http://www.w3.org/2001/XMLSchema" 
        targetNamespace="http://www.broservices.nl/xsd/sadcommon/0.9" 
        elementFormDefault="qualified" 
        attributeFormDefault="unqualified" 
        version="0.9.1">
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <simpleType name="ChamberOfCommerceNumberType">
        <restriction base="string"/>
    </simpleType>
    <simpleType name="EuropeanCompanyRegistrationNumberType">
        <restriction base="string"/>
    </simpleType>
    <simpleType name="IndicationYesNoEnumeration">
        <restriction base="string">
            <enumeration value="ja"/>
            <enumeration value="nee"/>
        </restriction>
    </simpleType>
    <simpleType name="IndicationYesNoUnknownEnumeration">
        <restriction base="string">
            <enumeration value="ja"/>
            <enumeration value="nee"/>
            <enumeration value="onbekend"/>
        </restriction>
    </simpleType>
    <simpleType name="QualityRegimeEnumeration">
        <restriction base="string">
            <enumeration value="IMBRO"/>
            <enumeration value="IMBRO/A"/>
        </restriction>
    </simpleType>
    <simpleType name="RegistrationObjectCodeType">
        <restriction base="string"/>
    </simpleType>
    <simpleType name="IntakeResponseTypeEnumeration">
        <restriction base="string">
            <enumeration value="completion"/>
            <enumeration value="acceptance"/>
            <enumeration value="rejection"/>
        </restriction>
    </simpleType>
    <simpleType name="DispatchResponseTypeEnumeration">
        <restriction base="string">
            <enumeration value="dispatch"/>
            <enumeration value="rejection"/>
        </restriction>
    </simpleType>
    <simpleType name="VoidReasonEnumeration">
        <restriction base="string">
            <enumeration value="onbekend"/>
        </restriction>
    </simpleType>
    <simpleType name="IndicationYesNoType">
        <restriction base="sadcom:IndicationYesNoEnumeration"/>
    </simpleType>
    <simpleType name="IndicationYesNoUnknownType">
        <restriction base="sadcom:IndicationYesNoUnknownEnumeration"/>
    </simpleType>
    <simpleType name="QualityRegimeType">
        <restriction base="sadcom:QualityRegimeEnumeration"/>
    </simpleType>
    <simpleType name="IntakeResponseTypeType">
        <restriction base="sadcom:IntakeResponseTypeEnumeration"/>
    </simpleType>
    <simpleType name="DispatchResponseTypeType">
        <restriction base="sadcom:DispatchResponseTypeEnumeration"/>
    </simpleType>
    <simpleType name="VoidReasonType">
        <restriction base="sadcom:VoidReasonEnumeration"/>
    </simpleType>
    <!-- complexTypes -->
    <element name="AbstractRegistrationObject" type="sadcom:AbstractRegistrationObjectType" substitutionGroup="gml:AbstractFeature"/>
    <complexType name="AbstractRegistrationObjectType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="broId" type="sadcom:RegistrationObjectCodeType" minOccurs="1" maxOccurs="1"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AbstractRegistrationObjectPropertyType">
        <sequence minOccurs="0">
            <element ref="sadcom:AbstractRegistrationObject"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <complexType name="AbortReasonType">
        <sequence>
            <element name="sequenceNumber" type="integer" minOccurs="1" maxOccurs="1"/>
            <element name="specification" type="string" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
    <complexType name="AreaType">
        <choice minOccurs="1" maxOccurs="1">
            <element name="enclosingCircle" type="sadcom:CircleType"/>
            <element name="boundingBox" type="gml:EnvelopeType"/>
        </choice>
    </complexType>
    <complexType name="CharacteristicsType">
        <annotation>
            <appinfo>
deprecated; use root element AbstractCharacteristics and complexType AbstractCharacteristicsType to derive RO-specific Characteristics instead.
</appinfo>
        </annotation>
        <sequence>
            <element name="broId" type="sadcom:RegistrationObjectCodeType" minOccurs="1" maxOccurs="1"/>
            <group ref="sadcom:CommonCharacteristics"/>
        </sequence>
    </complexType>
    <group name="CommonCharacteristics">
        <annotation>
            <appinfo>
deprecated; use root element AbstractCharacteristics and complexType AbstractCharacteristicsType to derive RO-specific Characteristics instead.
</appinfo>
        </annotation>
        <sequence>
            <element name="deregistered" type="sadcom:IndicationYesNoEnumeration" minOccurs="1" maxOccurs="1"/>
            <element name="deliveryAccountableParty" type="sadcom:ChamberOfCommerceNumberType" minOccurs="0" maxOccurs="1"/>
            <element name="qualityRegime" type="sadcom:QualityRegimeEnumeration" minOccurs="1" maxOccurs="1"/>
            <element name="objectRegistrationTime" type="dateTime" minOccurs="1" maxOccurs="1"/>
            <element name="latestCorrectionTime" type="dateTime" minOccurs="0" maxOccurs="1"/>
            <element name="underReview" type="sadcom:IndicationYesNoEnumeration" minOccurs="1" maxOccurs="1"/>
            <element name="standardizedLocation" type="gml:PointType" minOccurs="0" maxOccurs="1"/>
            <element name="deliveredLocation" type="gml:PointType" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </group>
    <group name="CommonCharacteristicsV2">
        <sequence>
            <element name="deregistered" type="sadcom:IndicationYesNoEnumeration" minOccurs="1" maxOccurs="1"/>
            <element name="deliveryAccountableParty" type="sadcom:ChamberOfCommerceNumberType" minOccurs="0" maxOccurs="1"/>
            <element name="qualityRegime" type="sadcom:QualityRegimeEnumeration" minOccurs="1" maxOccurs="1"/>
            <element name="objectRegistrationTime" type="dateTime" minOccurs="1" maxOccurs="1"/>
            <element name="latestCorrectionTime" type="dateTime" minOccurs="0" maxOccurs="1"/>
            <element name="underReview" type="sadcom:IndicationYesNoEnumeration" minOccurs="1" maxOccurs="1"/>
            <element name="standardizedLocation" type="sadcom:StandardizedGeometryType" minOccurs="0" maxOccurs="1"/>
            <element name="deliveredLocation" type="sadcom:DeliveredGeometryType" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </group>
    <element name="AbstractCharacteristics" type="sadcom:AbstractCharacteristicsType" abstract="true" substitutionGroup="sadcom:AbstractRegistrationObject">
        <annotation>
            <documentation source="http://www.imvertor.org/model-info/technical-documentation">
Definition: De entiteit AbstractCharacteristics bevat de registratieobject onafhankelijke kengegevens van een registratieobject dat niet uit registratie is genomen.
</documentation>
        </annotation>
    </element>
    <complexType name="AbstractCharacteristicsType" abstract="true">
        <complexContent>
            <extension base="sadcom:AbstractRegistrationObjectType">
                <sequence>
                    <group ref="sadcom:CommonCharacteristics"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="AbstractCharacteristicsV2" type="sadcom:AbstractCharacteristicsV2Type" abstract="true" substitutionGroup="sadcom:AbstractRegistrationObject">
        <annotation>
            <documentation source="http://www.imvertor.org/model-info/technical-documentation">
Definition: De entiteit AbstractCharacteristicsV2 bevat de registratieobject onafhankelijke kengegevens van een registratieobject dat niet uit registratie is genomen.
</documentation>
        </annotation>
    </element>
    <complexType name="AbstractCharacteristicsV2Type" abstract="true">
        <complexContent>
            <extension base="sadcom:AbstractRegistrationObjectType">
                <sequence>
                    <group ref="sadcom:CommonCharacteristicsV2"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CircleType">
        <sequence>
            <element name="center" type="gml:DirectPositionType" minOccurs="1" maxOccurs="1"/>
            <element name="radius" type="sadcom:RadiusType" minOccurs="1" maxOccurs="1"/>
        </sequence>
        <attribute name="srsName" type="anyURI" use="required"/>
    </complexType>
    <complexType name="CorrectionRequestType">
        <sequence>
            <element name="requestReference" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="deliveryAccountableParty" type="sadcom:ChamberOfCommerceNumberType" minOccurs="0" maxOccurs="1"/>
            <element name="broId" type="sadcom:RegistrationObjectCodeType" minOccurs="1" maxOccurs="1"/>
            <element name="qualityRegime" type="sadcom:QualityRegimeEnumeration" minOccurs="1" maxOccurs="1"/>
            <element name="underPrivilege" type="sadcom:IndicationYesNoEnumeration" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>
    <complexType name="CriterionErrorType">
        <sequence>
            <element name="sequenceNumber" type="integer" minOccurs="1" maxOccurs="1"/>
            <element name="specification" type="string" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
    <complexType name="CriteriaSetType">
        <sequence>
            <element name="deliveryAccountableParty" type="sadcom:ChamberOfCommerceNumberType" minOccurs="0" maxOccurs="1"/>
            <element name="qualityRegime" type="sadcom:QualityRegimeEnumeration" minOccurs="0" maxOccurs="1"/>
            <element name="registrationPeriod" type="sadcom:DatePeriodType" minOccurs="0" maxOccurs="1"/>
            <element name="correctionPeriod" type="sadcom:DatePeriodType" minOccurs="0" maxOccurs="1"/>
            <element name="underReview" type="sadcom:IndicationYesNoEnumeration" minOccurs="0" maxOccurs="1"/>
            <element name="area" type="sadcom:AreaType" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
    <complexType name="DatePeriodType">
        <sequence>
            <element name="beginDate" type="date" minOccurs="1" maxOccurs="1"/>
            <element name="endDate" type="date" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
    <element name="BRO_DO" type="sadcom:DeregisteredObjectType" substitutionGroup="sadcom:AbstractRegistrationObject"/>
    <complexType name="DeregisteredObjectType">
        <complexContent>
            <extension base="sadcom:AbstractRegistrationObjectType">
                <sequence>
                    <element name="deregistered" type="sadcom:IndicationYesNoEnumeration" minOccurs="1" maxOccurs="1"/>
                    <element name="deregistrationTime" type="dateTime" minOccurs="1" maxOccurs="1"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AbstractDispatchCharacteristicsRequestType" abstract="true">
        <sequence>
            <element name="requestReference" type="string" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
    <complexType name="DispatchCharacteristicsRequestType">
        <complexContent>
            <extension base="sadcom:AbstractDispatchCharacteristicsRequestType">
                <sequence>
                    <element name="criteria" type="sadcom:CriteriaSetType" minOccurs="1" maxOccurs="1"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DispatchDataRequestType">
        <sequence>
            <element name="requestReference" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="broId" type="sadcom:RegistrationObjectCodeType" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
    <element name="DispatchResponse" type="sadcom:DispatchResponseType"/>
    <complexType name="DispatchResponseType">
        <sequence>
            <element name="responseType" type="sadcom:DispatchResponseTypeEnumeration" minOccurs="1" maxOccurs="1"/>
            <element name="requestReference" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="rejectionTime" type="dateTime" minOccurs="0" maxOccurs="1"/>
            <element name="dispatchTime" type="dateTime" minOccurs="0" maxOccurs="1"/>
            <element name="rejectionReason" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="criterionError" type="sadcom:CriterionErrorType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <complexType name="CoordinateTransformationType">
        <simpleContent>
            <restriction base="gml:CodeWithAuthorityType">
                <attribute name="codeSpace" type="anyURI" use="required" fixed="urn:bro:CoordinateTransformation"/>
            </restriction>
        </simpleContent>
    </complexType>
    <complexType name="IntakeResponseType">
        <sequence>
            <element name="responseType" type="sadcom:IntakeResponseTypeEnumeration" minOccurs="1" maxOccurs="1"/>
            <element name="requestReference" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="transactionId" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="broId" type="sadcom:RegistrationObjectCodeType" minOccurs="0" maxOccurs="1"/>
            <element name="objectIdAccountableParty" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="acceptanceTime" type="dateTime" minOccurs="0" maxOccurs="1"/>
            <element name="completionTime" type="dateTime" minOccurs="0" maxOccurs="1"/>
            <element name="rejectionTime" type="dateTime" minOccurs="0" maxOccurs="1"/>
            <element name="rejectionReason" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="sourceDocumentError" type="sadcom:SourceDocumentErrorType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <complexType name="OrganizationType">
        <choice>
            <element name="chamberOfCommerceNumber" type="sadcom:ChamberOfCommerceNumberType"/>
            <element name="europeanCompanyRegistrationNumber" type="sadcom:EuropeanCompanyRegistrationNumberType"/>
        </choice>
    </complexType>
    <element name="parseFault" type="sadcom:ParseFaultType"/>
    <complexType name="ParseFaultType">
        <sequence>
            <element name="requestReference" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="transactionId" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="abortTime" type="dateTime" minOccurs="1" maxOccurs="1"/>
            <element name="abortReason" type="sadcom:AbortReasonType" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <complexType name="PartialDateType">
        <choice>
            <element name="date" type="date"/>
            <element name="yearMonth" type="gYearMonth"/>
            <element name="year" type="gYear"/>
            <element name="voidReason" type="sadcom:VoidReasonEnumeration"/>
        </choice>
    </complexType>
    <complexType name="RadiusType">
        <simpleContent>
            <restriction base="gml:MeasureType">
                <attribute name="uom" type="gml:UomIdentifier" use="required" fixed="km"/>
            </restriction>
        </simpleContent>
    </complexType>
    <complexType name="RegistrationHistoryType">
        <sequence>
            <element name="objectRegistrationTime" type="dateTime" minOccurs="1" maxOccurs="1"/>
            <element name="registrationStatus" type="sadcom:RegistrationStatusType" minOccurs="1" maxOccurs="1"/>
            <element name="latestAdditionTime" type="dateTime" minOccurs="0" maxOccurs="1"/>
            <element name="registrationCompletionTime" type="dateTime" minOccurs="0" maxOccurs="1"/>
            <element name="corrected" type="sadcom:IndicationYesNoEnumeration" minOccurs="1" maxOccurs="1"/>
            <element name="latestCorrectionTime" type="dateTime" minOccurs="0" maxOccurs="1"/>
            <element name="underReview" type="sadcom:IndicationYesNoEnumeration" minOccurs="1" maxOccurs="1"/>
            <element name="underReviewTime" type="dateTime" minOccurs="0" maxOccurs="1"/>
            <element name="deregistered" type="sadcom:IndicationYesNoEnumeration" minOccurs="1" maxOccurs="1"/>
            <element name="deregistrationTime" type="dateTime" minOccurs="0" maxOccurs="1"/>
            <element name="reregistered" type="sadcom:IndicationYesNoEnumeration" minOccurs="1" maxOccurs="1"/>
            <element name="reregistrationTime" type="dateTime" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>
    <element name="RegistrationObject" type="sadcom:RegistrationObjectType" substitutionGroup="sadcom:AbstractRegistrationObject"/>
    <complexType name="RegistrationObjectType">
        <complexContent>
            <extension base="sadcom:AbstractRegistrationObjectType">
                <sequence>
                    <element name="deliveryAccountableParty" type="sadcom:ChamberOfCommerceNumberType" minOccurs="0" maxOccurs="1"/>
                    <element name="objectIdAccountableParty" type="string" minOccurs="0" maxOccurs="1"/>
                    <element name="deliveryResponsibleParty" type="sadcom:ChamberOfCommerceNumberType" minOccurs="0" maxOccurs="1"/>
                    <element name="qualityRegime" type="sadcom:QualityRegimeEnumeration" minOccurs="1" maxOccurs="1"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="RegistrationRequestType">
        <sequence>
            <element name="requestReference" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="deliveryAccountableParty" type="sadcom:ChamberOfCommerceNumberType" minOccurs="0" maxOccurs="1"/>
            <element name="broId" type="sadcom:RegistrationObjectCodeType" minOccurs="0" maxOccurs="1"/>
            <element name="qualityRegime" type="sadcom:QualityRegimeEnumeration" minOccurs="1" maxOccurs="1"/>
            <element name="underPrivilege" type="sadcom:IndicationYesNoEnumeration" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>
    <complexType name="RegistrationStatusType">
        <simpleContent>
            <restriction base="gml:CodeWithAuthorityType">
                <attribute name="codeSpace" type="anyURI" use="required" fixed="urn:bro:RegistrationStatus"/>
            </restriction>
        </simpleContent>
    </complexType>
    <complexType name="SourceDocumentErrorType">
        <sequence>
            <element name="sequenceNumber" type="integer" minOccurs="1" maxOccurs="1"/>
            <element name="specification" type="string" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
    <complexType name="StandardizedLocationType">
        <sequence>
            <element name="location" type="gml:PointType" minOccurs="1" maxOccurs="1"/>
            <element name="coordinateTransformation" type="sadcom:CoordinateTransformationType" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
    <complexType name="StandardizedLocationV2Type">
        <sequence>
            <element name="location" type="sadcom:StandardizedGeometryType" minOccurs="1" maxOccurs="1"/>
            <element name="coordinateTransformation" type="sadcom:CoordinateTransformationType" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
    <element name="StandardizedGeometry" type="sadcom:StandardizedGeometryType">
        <annotation>
            <documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: ToDo: zie inleiding catalogus</documentation>
        </annotation>
    </element>
    <complexType name="StandardizedGeometryType">
        <choice minOccurs="1" maxOccurs="1">
            <element ref="gml:Point"/>
            <element ref="gml:MultiPoint"/>
            <element ref="gml:Surface"/>
            <element ref="gml:MultiSurface"/>
            <element ref="gml:MultiGeometry"/>
        </choice>
    </complexType>
    <complexType name="StandardizedGeometryPropertyType">
        <sequence minOccurs="0">
            <element ref="sadcom:StandardizedGeometry"/>
        </sequence>
    </complexType>
    <element name="DeliveredGeometry" type="sadcom:DeliveredGeometryType">
        <annotation>
            <documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: ToDo: zie inleiding catalogus</documentation>
        </annotation>
    </element>
    <complexType name="DeliveredGeometryType">
        <choice minOccurs="1" maxOccurs="1">
            <element ref="gml:Point"/>
            <element ref="gml:Curve"/>
            <element ref="gml:Surface"/>
            <element ref="gml:MultiSurface"/>
        </choice>
    </complexType>
    <complexType name="DeliveredGeometryPropertyType">
        <sequence minOccurs="0">
            <element ref="sadcom:DeliveredGeometry"/>
        </sequence>
    </complexType>
    <element name="deliveryResponsibleParty" type="sadcom:ChamberOfCommerceNumberType"/>
    <complexType name="MeasureNillableType">
        <annotation>
            <documentation source="http://www.imvertor.org/model-info/technical-documentation">
Definition: Datatype voor een meetwaarde die mogelijk geen waarde heeft. Explanation: Het attribute uom moet aanwezig zijn als een gegeven met dit datatype een waarde heeft. Het attribute uom mag niet aanwezig zijn als een gegeven met dit datatype geen waarde heeft en wel een attribuut nil="true".
</documentation>
        </annotation>
        <simpleContent>
            <extension base="double">
                <attribute name="uom" type="gml:UomIdentifier"/>
            </extension>
        </simpleContent>
    </complexType>
       <complexType name="ProjectTypeType">
      <simpleContent>
         <restriction base="gml:CodeWithAuthorityType">
            <attribute name="codeSpace"
                          type="anyURI"
                          use="required"
                          fixed="urn:bro:sad:ProjectType"/>
         </restriction>
      </simpleContent>
   </complexType>
   <complexType name="CRSType">
      <simpleContent>
         <restriction base="gml:CodeWithAuthorityType">
            <attribute name="codeSpace"
                          type="anyURI"
                          use="required"
                          fixed="urn:bro:sad:CRS"/>
         </restriction>
      </simpleContent>
   </complexType>
   <complexType name="AsbestosPresenceType">
      <simpleContent>
         <restriction base="gml:CodeWithAuthorityType">
            <attribute name="codeSpace"
                          type="anyURI"
                          use="required"
                          fixed="urn:bro:sad:AsbestosPresence"/>
         </restriction>
      </simpleContent>
   </complexType>
   <complexType name="InvestigationReasonType">
      <simpleContent>
         <restriction base="gml:CodeWithAuthorityType">
            <attribute name="codeSpace"
                          type="anyURI"
                          use="required"
                          fixed="urn:bro:sad:InvestigationReason"/>
         </restriction>
      </simpleContent>
   </complexType>
   <simpleType name="GUIDType">
        <annotation>
            <documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Patroon als reguliere expressie.</documentation>
        </annotation>
        <restriction base="string">
            <pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
        </restriction>
    </simpleType>
</schema>