Versie 0.2/SAD_Intern Uitwisselberichten/XSD en voorbeeld XML/dssad-internal-messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2012-2023 TNO Geologische Dienst Nederland

    Alle rechten voorbehouden.
    Niets uit deze software mag worden vermenigvuldigd en/of openbaar gemaakt door middel van druk, fotokopie,
    microfilm of op welke andere wijze dan ook, zonder voorafgaande toestemming van TNO.

    Indien deze software in opdracht werd uitgebracht, wordt voor de rechten en verplichtingen van opdrachtgever
    en opdrachtnemer verwezen naar de Algemene Voorwaarden voor opdrachten aan TNO, dan wel de betreffende
    terzake tussen de partijen gesloten overeenkomst.

-->
<xs:schema xmlns:brocom="http://www.broservices.nl/xsd/brocommon/3.0"
           xmlns:dssad="http://www.broservices.nl/xsd/dssad-internal/1.0"
           xmlns:gml="http://www.opengis.net/gml/3.2"
           xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0"
           xmlns:sadcom="http://www.broservices.nl/xsd/sadcommon-internal/1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.broservices.nl/xsd/dssad-internal/1.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="0.2.0">

    <xs:annotation>
        <xs:appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
            <gmlsf:ComplianceLevel>0</gmlsf:ComplianceLevel>
        </xs:appinfo>
    </xs:annotation>

    <!--
    <xs:import namespace="http://www.broservices.nl/xsd/sadcommon-internal/1.0" schemaLocation="https://schema.broservices.nl/xsd/sadcommon-internal/1.0/sadcommon-internal.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://schema.broservices.nl/profile/gml/1.0/gml-profile.xsd"/>
    <xs:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="https://schema.broservices.nl/xsd/brocommon/3.0/brocommon.xsd"/>
    -->

    <xs:import namespace="http://www.broservices.nl/xsd/sadcommon-internal/1.0" schemaLocation="../../../../../common/src/main/resources/schema/sadcommon-internal.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://schema.broservices.nl/profile/gml/1.0/gml-profile.xsd"/>
    <xs:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="https://schema.broservices.nl/xsd/brocommon/3.0/brocommon.xsd"/>

    <xs:element name="parseFault" type="brocom:ParseFaultType" />
    <xs:element name="dispatchDataRequest" type="brocom:DispatchDataRequestType"/>

    <xs:element name="dispatchDataResponse" type="dssad:DispatchDataResponseType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bericht DispatchDataResponse is een specialisatie van de abstract klasse DispatchResponse uit de package brocommon, waaraan het een dispatchDocument toevoegt. Met dit bericht worden, als response op een DispatchDataRequest, de gegevens over een specifiek bodemonderzoek registratieobject verzonden naar de aanvrager.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="DispatchDataResponseType">
        <xs:complexContent>
            <xs:extension base="brocom:DispatchResponseType">
                <xs:sequence>
                    <xs:element minOccurs="0"
                           maxOccurs="1"
                           name="dispatchDocument"
                           nillable="false"
                           type="brocom:AbstractRegistrationObjectPropertyType">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het element dispatchDocument bevat de gegevens van een bodemonderzoek registratieobject. Vanwege het polymorfe karakter is het type óf een BRODO uit de package brocom, óf een SADODP, óf een SADO uit de package dssad. Deze drie types hebben allen als gemeenschappelijke vader het type AbstractRegistrationObject uit de package brocom.
Explanation: Het gegeven ontbreekt als de BRO geen registratieobject bevat met het in het dispatchDataRequest opgegegeven broId. Het gegeven is aanwezig en van het type BROD_DO als het registratieobject met de opgegeven broId uit registratie is genomen. Het gegeven is aanwezig en van het type SADODP als het registratieobject met de opgegeven broId niet uit registratie is genomen en de afnemer tevens bronhouder en/of dataleverancier is van het registratieobject. Het gegeven is aanwezig en van het type SAD_O als het registratieobject met de opgegeven broId niet uit registratie is genomen en de afnemer niet bronhouder of dataleverancier is van het registratieobject.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="SAD_O_DP"
               type="dssad:SAD_O_DPType"
               substitutionGroup="brocom:RegistrationObject">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het uitgiftedocument met de geregistreerde gegevens van een bodemonderzoek, dat wordt uitgeleverd als de afnemer tevens de bronhouder of dataleverancier is van het registratieobject, ongeacht of registratieobject uit registratie is genomen of niet.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="SAD_O_DPType">
        <xs:complexContent>
            <xs:extension base="brocom:RegistrationObjectType">
                <xs:sequence>
                    <xs:element name="deliveryContext"
                           minOccurs="1"
                           maxOccurs="1"
                           type="sadcom:DeliveryContextType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>DeliveryContext</CodeListName>
                                <CodeListURI/>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De rechtsgrond op basis waarvan, of bij afwezigheid daarvan, de activiteit naar aanleiding waarvan, het betreffende gegeven is aangeleverd aan de basisregistratie ondergrond.
Explanation: De wetgever stipuleert dat het gegeven moet zijn vastgelegd om inzicht te geven in de relatie met de taken van een bestuursorgaan. Het gegeven geeft inzicht in de maatschappelijke betekenis van de informatie.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="reportDate" type="xs:date" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De datum waarop de uitvoerder van het bodemonderzoek alle gegevens van het bodemonderzoek aan de bronhouder heeft overgedragen of in het geval van historische gegevens de datum waarop alle gegevens zijn vastgesteld.
Explanation: De datum van het rapport wordt vastgelegd bij het Rapport als rapportdatum.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="identification"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:string">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De identificatie die het bodemonderzoek heeft binnen de informatieketen milieukwaliteit.
Explanation: De SIKB-identificatie is de SIKB invulling van het NEN3610-ID.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De herkenbare naam van het onderzoek.
Explanation: De naam is door de uitvoerder van het onderzoek is toegekend aan het onderzoek.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="investigationReason"
                           minOccurs="0"
                           maxOccurs="1"
                           type="sadcom:InvestigationReasonType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>InvestigationReason</CodeListName>
                                <CodeListURI/>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De aanleiding waarvoor het onderzoek is uitgevoerd.
Explanation: Onderzoek wordt normaliter projectmatig uitgevoerd, zelfs als het direct gebonden is aan een publieke taak. Het gegeven beschrijft het hogere doel van het project waarvoor het onderzoek is uitgevoerd of preciseert de taak. [TODO: onderscheid tussen taak, doel en aanleiding helder maken]</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="projectType"
                           minOccurs="0"
                           maxOccurs="1"
                           type="sadcom:ProjectTypeType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>ProjectType</CodeListName>
                                <CodeListURI/>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het type onderzoek dat is uitgevoerd.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="asbestos"
                           minOccurs="0"
                           maxOccurs="1"
                           type="sadcom:AsbestosPresenceType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>AsbestosPresence</CodeListName>
                                <CodeListURI/>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De aanduiding of binnen het onderzoek de aanwezigheid van asbest is onderzocht.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="geometry"
                           type="gml:MultiSurfacePropertyType"
                           minOccurs="1"
                           maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De begrenzing van het onderzoeksgebied op het aardoppervlak, zoals die is aangeleverd aan de basisregistratie ondergrond.
Explanation: De aangeleverde begrenzing is vastgelegd als een mulitvlak (multi surface).</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="investigationConclusion"
                           minOccurs="0"
                           maxOccurs="1"
                           type="xs:string">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De conclusie van het bodemonderzoek volgens de uitvoerder van het onderzoek
Explanation: In de conclusie staat of er verontreiniging is aangetroffen en in welke mate, en of vervolg onderzoek wordt geadviseerd.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="researchOperator"
                           minOccurs="0"
                           maxOccurs="1"
                           type="brocom:OrganizationType">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het KvK-nummer van de onderneming of de maatschappelijke activiteit van de rechtspersoon die voor de bronhouder geldt als verantwoordelijk voor de uitvoering van het booronderzoek, of het equivalent daarvan in een handelsregister van een andere lidstaat van de Europese Unie dan Nederland.
Explanation: Het gegeven wordt alleen uitgeleverd aan de dataleverancier en de bronhouder.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="registrationHistory"
                           nillable="false"
                           type="brocom:RegistrationHistoryType">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De geschiedenis van het bodemonderzoek in de registratie ondergrond.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="standardizedLocation"
                           nillable="false"
                           type="brocom:StandardizedLocationV2Type">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De begrenzing van het bodemonderzoek op het aardoppervlak zoals die door de basisregistratie ondergrond is getransformeerd.
Explanation: Het gegeven staat niet in een brondocument. De gestandaardiseerde locatie wordt door de basisregistratie ondergrond berekend ten behoeve van afnemers. De locatie van het bodemonderzoek is gedefinieerd als een multivlak.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0"
                           maxOccurs="1"
                           name="report"
                           nillable="false"
                           type="sadcom:ReportType">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Eigenschappen van het rapport waarin de resultaten van het bodemonderzoek zijn opgenomen</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SAD_O_DPPropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="dssad:SAD_O_DP"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="SAD_O"
               type="dssad:SAD_OType"
               substitutionGroup="dssad:SAD_O_DP">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het uitgiftedocument met de geregistreerde gegevens van een bodemonderzoek, dat wordt uitgeleverd als de afnemer niet de bronhouder of dataleverancier is van het registratieobject en het registratieobject niet uit registratie is genomen.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="SAD_OType">
        <xs:complexContent>
            <xs:extension base="dssad:SAD_O_DPType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SAD_OPropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="dssad:SAD_O"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
