Versie 0.99/SAD Uitwisselberichten/XSD en voorbeeld XML/dssad.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="dssad"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:brocom="http://www.broservices.nl/xsd/brocommon/3.0"
                  xmlns:sadcom="http://www.broservices.nl/xsd/sadcommon/1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:msg="http://www.broservices.nl/xsd/dssad/1.0"
                  xmlns:tns="http://www.broservices.nl/wsdl/dssad/1.0"
                  targetNamespace="http://www.broservices.nl/wsdl/dssad/1.0">

    <wsdl:documentation>
        This WSDL defines the webservice for the sad intake webservice (SiteAssessmentData)
        in the context of the base registry subsurface (Basisregistratie Ondergrond).
        This is version 1.0.0
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:tns="http://www.broservices.nl/wsdl/dssad/1.0" targetNamespace="http://www.broservices.nl/wsdl/dssad/1.0">
            <!--
            <xsd:import namespace="http://www.broservices.nl/xsd/dssad/0.9" schemaLocation="https://schema.broservices.nl/xsd/dssad/0.9/dssad-messages.xsd"/>
            -->
            <xsd:import namespace="http://www.broservices.nl/xsd/dssad/1.0" schemaLocation="./dssad-messages.xsd"/>
            <!--
            <xsd:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="https://schema.broservices.nl/xsd/brocommon/3.0/brocommon.xsd"/>
            -->
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="dispatchDataRequest">
        <wsdl:part element="msg:dispatchDataRequest" name="request"/>
    </wsdl:message>

    <wsdl:message name="dispatchDataResponse">
        <wsdl:part element="msg:dispatchDataResponse" name="response"/>
    </wsdl:message>
    
    <wsdl:message name="dispatchCharacteristicsRequest">
        <wsdl:part element="msg:dispatchCharacteristicsRequest" name="request"/>
    </wsdl:message>

    <wsdl:message name="dispatchCharacteristicsResponse">
        <wsdl:part element="msg:dispatchCharacteristicsResponse" name="response"/>
    </wsdl:message>

    <wsdl:message name="parseSoapFault">
        <wsdl:part element="msg:parseFault" name="parseFault"/>
    </wsdl:message>

    <wsdl:message name="DeliveryResponsiblePartyHeader">
        <wsdl:part name="deliveryResponsibleParty" element="sadcom:Organization" />
    </wsdl:message>

    <wsdl:portType name="dssad">
        <wsdl:operation name="dispatchData">
            <wsdl:input message="tns:dispatchDataRequest" wsam:Action="http://www.broservices.nl/wus/dssad/dispatchDataRequest"/>
            <wsdl:output message="tns:dispatchDataResponse" wsam:Action="http://www.broservices.nl/wus/dssad/dispatchDataResponse"/>
            <wsdl:fault message="tns:parseSoapFault" name="parsefault" wsam:Action="http://www.broservices.nl/wus/dssad/parseSoapFault"/>
        </wsdl:operation>
        <wsdl:operation name="dispatchCharacteristics">
            <wsdl:input message="tns:dispatchCharacteristicsRequest" wsam:Action="http://www.broservices.nl/wus/dssad/dispatchCharacteristicsRequest"/>
            <wsdl:output message="tns:dispatchCharacteristicsResponse" wsam:Action="http://www.broservices.nl/wus/dssad/dispatchCharacteristicsResponse"/>
            <wsdl:fault message="tns:parseSoapFault" name="parsefault" wsam:Action="http://www.broservices.nl/wus/dssad/parseSoapFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="dssad_SOAP" type="tns:dssad">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="dispatchData">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header use="literal" part="deliveryResponsibleParty" message="tns:DeliveryResponsiblePartyHeader" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="parsefault">
                <soap:fault use="literal" name="parsefault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="dispatchCharacteristics">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header use="literal" part="deliveryResponsibleParty" message="tns:DeliveryResponsiblePartyHeader" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="parsefault">
                <soap:fault use="literal" name="parsefault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="dssad">
        <wsdl:port name="dssad_SOAP" binding="tns:dssad_SOAP">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
