Versie 0.99/SAD Uitwisselberichten/XSD en voorbeeld XML/imsikb0101_v14.8.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:immetingen="http://www.sikb.nl/immetingen" xmlns:imsikb0101="http://www.sikb.nl/imsikb0101" xmlns:sams="http://www.opengis.net/samplingSpatial/2.0" targetNamespace="http://www.sikb.nl/imsikb0101" elementFormDefault="qualified">
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.opengis.net/samplingSpatial/2.0" schemaLocation="http://schemas.opengis.net/samplingSpatial/2.0/spatialSamplingFeature.xsd"/>
    <import namespace="http://www.sikb.nl/immetingen" schemaLocation="immetingen_v14.8.0.xsd"/>
    <element name="AddressLocation" type="imsikb0101:AddressLocationType" substitutionGroup="gml:AbstractFeature">
        <annotation>
            <documentation>Adres lokatie
Op basis van een archiefinventarisatie zijn aanwijzigen gevonden dat op de enkelvoudige adreslocatie activiteiten aanwezig zijn geweest die de bodem hebben kunnen verontreinigen. De geïnventariseerde gegevens zijn in het historisch bodembestand (HBB) geregistreerd</documentation>
        </annotation>
    </element>
    <complexType name="AddressLocationType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="bioID" type="string">
                        <annotation>
                            <documentation>Een unieke code voor de enkelvoudige adreslocatie uit het historisch bodembestand. De code wordt automatisch door het bodeminformatiesysteem aangemaakt en als volgt vormgegeven: 'A + geografische aanduiding (4) (gem_code) + uniek volgnummer binnen beheersgebied (6))</documentation>
                        </annotation>
                    </element>
                    <element name="identification" type="immetingen:NEN3610IDPropertyType">
                        <annotation>
                            <documentation>Een unieke code die wordt aangemaakt als het object voor het eerst wordt aangemaakt.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AddressLocationPropertyType">
        <sequence minOccurs="0">
            <element ref="imsikb0101:AddressLocation"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="AsbestosComposition" type="imsikb0101:AsbestosCompositionType" substitutionGroup="gml:AbstractObject">
        <annotation>
            <documentation>Asbest toevoeging
Samenstelling van het asbest houdende monster</documentation>
        </annotation>
    </element>
    <complexType name="AsbestosCompositionType">
        <sequence>
            <element name="asbestosContainingMaterial" type="gml:CodeType" minOccurs="0">
                <annotation>
                    <documentation>Asbesthoudend materiaal - Het materiaal waaruit dit asbest monster bestaat. 
Domeintabel: AsbesthoudendMateriaal</documentation>
                </annotation>
            </element>
            <element name="asbestosFractionCode" type="gml:CodeType" minOccurs="0">
                <annotation>
                    <documentation>AsbestFractie - Fractiegrootte van het monster. 
Domeintabel: Hoedanigheid (groep: Asbestfractie)</documentation>
                </annotation>
            </element>
            <element name="massFraction" type="gml:MeasureType" minOccurs="0">
                <annotation>
                    <documentation>massa fractie - Totale massa van de fractie</documentation>
                </annotation>
            </element>
            <element name="massParticles" type="gml:MeasureType" minOccurs="0">
                <annotation>
                    <documentation>massa deeltjes - Massa van de gevonden asbesthoudende deeltjes van een fractiegrootte</documentation>
                </annotation>
            </element>
            <element name="particlesCount" type="integer" minOccurs="0">
                <annotation>
                    <documentation>aantal deeltjes - Het aantal deeltjes dat in een fractiegrootte is aangetroffen</documentation>
                </annotation>
            </element>
            <element name="bondedType" type="gml:CodeType" minOccurs="0">
                <annotation>
                    <documentation>Hechtgebonden - De vezels van het materiaal zijn hechtgebonden of niet hechtgebonden.
Domeintabel: HechtgebondenheidAsbest</documentation>
                </annotation>
            </element>
            <element name="searchedPart" type="double" minOccurs="0">
                <annotation>
                    <documentation>afgezocht deel - Het afgezochte deel van de fractiegrootte in percentage</documentation>
                </annotation>
            </element>
            <element name="searchedPartDescription" type="string" minOccurs="0">
                <annotation>
                    <documentation>afgezocht deel omschrijving - Toelichting op het afgezochte deel van de fractiegrootte</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="AsbestosCompositionPropertyType">
        <sequence>
            <element ref="imsikb0101:AsbestosComposition"/>
        </sequence>
    </complexType>
    <element name="BoreProcess" type="imsikb0101:BoreProcessType" substitutionGroup="gml:AbstractFeature"/>
    <complexType name="BoreProcessType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="drillType" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>aanduiding van het apparaat waarmee de boring is uitgevoerd.
Domeintabe: BemonsteringsApparaat</documentation>
                        </annotation>
                    </element>
                    <element name="identification" type="immetingen:NEN3610IDPropertyType">
                        <annotation>
                            <documentation>Een unieke code die wordt aangemaakt als het object voor het eerst wordt aangemaakt.</documentation>
                        </annotation>
                    </element>
                    <element name="drillDiameter" type="gml:MeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Diameter van het boorsysteem dat gebruikt is voor het boren of graven in het meetobject</documentation>
                        </annotation>
                    </element>
                    <element name="fieldworkOperator" type="immetingen:SubjectPropertyType" minOccurs="0">
                        <annotation>
                            <documentation>- Boormeester en veldwerkbedrijf welke geboord hebben</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="BoreProcessPropertyType">
        <sequence minOccurs="0">
            <element ref="imsikb0101:BoreProcess"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Borehole" type="imsikb0101:BoreholeType" substitutionGroup="imsikb0101:Plot">
        <annotation>
            <documentation>borehole
Synonyms: boring and bore
penetration into the  subsurface with removal of soil/rock material by using e. g. a hollow tube-shaped tool
Note 1: Generally, it is a vertical penetration. 
Note 2: For the purpose of this International standard, the term borehole is used.</documentation>
        </annotation>
    </element>
    <complexType name="BoreholeType">
        <complexContent>
            <extension base="imsikb0101:PlotType">
                <sequence>
                    <element name="isSuccessful" type="boolean" minOccurs="0">
                        <annotation>
                            <documentation>Is boring geslaagd?</documentation>
                        </annotation>
                    </element>
                    <element name="situationDescription" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>Beschrijving situatie ter plekke van meetpunt.
Domeintabel: SituatieBeschrijving</documentation>
                        </annotation>
                    </element>
                    <element name="depth" type="immetingen:DepthPropertyType" minOccurs="0">
                        <annotation>
                            <documentation>Diepte van het meetpunt</documentation>
                        </annotation>
                    </element>
                    <element name="groundLevel" type="immetingen:HeightPropertyType" minOccurs="0">
                        <annotation>
                            <documentation>maaiveldHoogte - hoogteligging van het maaiveld ten opzichte van het referentievlak</documentation>
                        </annotation>
                    </element>
                    <element name="groundLevelType" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>Beschrijving van het maaiveld ter plekke van het meetpunt.
Domeintabel: MaaiveldType</documentation>
                        </annotation>
                    </element>
                    <element name="descriptionProcedure" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>De beschrijfprocedure verteld volgens welk stelsel van afspraken de monsters beschreven zijn en welke aspecten worden beschreven. Procedures zijn in het algemeen vastgelegd in een norm, protocol of richtlijn.

Domeintabel: Beschrijfprocedure</documentation>
                        </annotation>
                    </element>
                    <element name="drillMaster" type="immetingen:SubjectPropertyType" minOccurs="0"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="BoreholePropertyType">
        <sequence minOccurs="0">
            <element ref="imsikb0101:Borehole"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Document" type="imsikb0101:DocumentType" substitutionGroup="gml:AbstractFeature">
        <annotation>
            <documentation>In de praktijk is men erg geinteresseerd naar digitale documenten van de uitgevoerde onderzoeken en de genomen besluiten.</documentation>
        </annotation>
    </element>
    <complexType name="DocumentType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="documentID" type="string">
                        <annotation>
                            <documentation>Kenmerk van het document waaronder die bekend is bij desbetreffende organisatie.</documentation>
                        </annotation>
                    </element>
                    <element name="identification" type="immetingen:NEN3610IDPropertyType">
                        <annotation>
                            <documentation>Een unieke code die wordt aangemaakt als het object voor het eerst wordt aangemaakt.</documentation>
                        </annotation>
                    </element>
                    <element name="startTime" type="date">
                        <annotation>
                            <documentation>Datum waarop het document opgesteld is.</documentation>
                        </annotation>
                    </element>
                    <element name="endTime" type="date" minOccurs="0">
                        <annotation>
                            <documentation>Datum waarop het document verwijderd is.</documentation>
                        </annotation>
                    </element>
                    <element name="title" type="string">
                        <annotation>
                            <documentation>Title van het document.</documentation>
                        </annotation>
                    </element>
                    <element name="ownerOrganisation" type="gml:CodeType">
                        <annotation>
                            <documentation>eigenaar - De overheidsinstantie die de gegevensbeheerder van dit element is, tevens de organisatie die het document heeft opgeslagen.
Domeintabel: Bronhouders</documentation>
                        </annotation>
                    </element>
                    <element name="documentLink" type="anyURI">
                        <annotation>
                            <documentation>Link naar het online  document.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DocumentPropertyType">
        <sequence minOccurs="0">
            <element ref="imsikb0101:Document"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="FeatureCollectionIMSIKB0101" type="imsikb0101:FeatureCollectionIMSIKB0101Type" substitutionGroup="gml:AbstractFeature">
        <annotation>
            <documentation>Het root element van alle SIKB0101 berichten</documentation>
        </annotation>
    </element>
    <complexType name="FeatureCollectionIMSIKB0101Type">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="metaData" type="imsikb0101:MetaInformationType"/>
                    <element name="featureMember" type="gml:FeaturePropertyType" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="FeatureCollectionIMSIKB0101PropertyType">
        <sequence minOccurs="0">
            <element ref="imsikb0101:FeatureCollectionIMSIKB0101"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Filter" type="imsikb0101:FilterType" substitutionGroup="immetingen:MeasurementObject">
        <annotation>
            <documentation>permeabel bereik van een peilbuis waaruit één of meer veldmonsters worden genomen</documentation>
        </annotation>
    </element>
    <complexType name="FilterType">
        <complexContent>
            <extension base="immetingen:MeasurementObjectType">
                <sequence>
                    <element name="upperDepth" type="immetingen:DepthPropertyType" minOccurs="0">
                        <annotation>
                            <documentation>Bovenkant filter</documentation>
                        </annotation>
                    </element>
                    <element name="lowerDepth" type="immetingen:DepthPropertyType" minOccurs="0">
                        <annotation>
                            <documentation>OnderkantFilter</documentation>
                        </annotation>
                    </element>
                    <element name="heightTopFiltertube" type="immetingen:HeightPropertyType" minOccurs="0">
                        <annotation>
                            <documentation>Hoogte bovenkant van de peilbuis "boven het maaiveld"</documentation>
                        </annotation>
                    </element>
                    <element name="filtertubeDiameter" type="gml:MeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Diameter van de peilbuis</documentation>
                        </annotation>
                    </element>
                    <element name="filtertubeLength" type="gml:MeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Totale lengte van de peilbuis</documentation>
                        </annotation>
                    </element>
                    <element name="filtertubeMaterial" type="string" minOccurs="0">
                        <annotation>
                            <documentation>Materiaal waarvan de peilbuis gemaakt is.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="FilterPropertyType">
        <sequence minOccurs="0">
            <element ref="imsikb0101:Filter"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Finishing" type="imsikb0101:FinishingType" substitutionGroup="imsikb0101:ProfileElement">
        <annotation>
            <documentation>Afwerking van een boorgat; wat kan bestaan uit een aanvulling, afdichting of generieke afwerking.

Dit is een profileElement, omdat deze gelaagd als lagen kunnen worden aangebracht.

Aanvulling: Naast een filter in een boorgat.
Afdichting: Bij de opening van het boorgat.
Afwerking: Overige afwerkingen van een boorgat.</documentation>
        </annotation>
    </element>
    <complexType name="FinishingType">
        <complexContent>
            <extension base="imsikb0101:ProfileElementType">
                <sequence>
                    <element name="finishingMaterial" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>Het materiaal waarmee dit gedeelte van de afwerking is afgewerkt. Afhankelijk van het Type komt hier een domeintabel, er is dus geen vaste tabel.
Zie domeintabel: AfwerkingType voor de juiste domeintabel. 
(Aanvulling, Afdichting, Afwerking)</documentation>
                        </annotation>
                    </element>
                    <element name="finishingType" type="gml:CodeType">
                        <annotation>
                            <documentation>Afwerking soort: Afdichting, aanvulling, afwerking.
Domeintabel: AfwerkingType</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="FinishingPropertyType">
        <sequence minOccurs="0">
            <element ref="imsikb0101:Finishing"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Layer" type="imsikb0101:LayerType" substitutionGroup="imsikb0101:ProfileElement">
        <annotation>
            <documentation>layer
domain of a soil with a certain vertical extension developed through non-pedogenic processes, displaying an unconformity to possibly over- or underlying adjacent domains
Note 1: In the framework of soils deeply modified by human activity, artificial layers may be due to different kinds of deposits (concrete, bricks, etc.). 
Note 2: Layers may be part of a horizon.

verticale uitsnede van de bodem ter plaatse van de boring met uniforme kenmerken en met een begin- en einddiepte</documentation>
        </annotation>
    </element>
    <complexType name="LayerType">
        <complexContent>
            <extension base="imsikb0101:ProfileElementType">
                <sequence>
                    <element name="description" type="string" minOccurs="0">
                        <annotation>
                            <documentation>Beschrijving van de laag</documentation>
                        </annotation>
                    </element>
                    <element name="layerType" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>laagsoort op basis van de herkomst van het materiaal.
Domeintabel: BodemlaagType</documentation>
                        </annotation>
                    </element>
                    <element name="holeLength" type="gml:MeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Lengte van een asbestinspectie gat of sleuf op laagniveau</documentation>
                        </annotation>
                    </element>
                    <element name="holeWidth" type="gml:MeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Breedte van een asbestinspectie gat of sleuf op laagniveau</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="LayerPropertyType">
        <sequence minOccurs="0">
            <element ref="imsikb0101:Layer"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="LocationInspection" type="imsikb0101:LocationInspectionType" substitutionGroup="gml:AbstractObject">
        <annotation>
            <documentation>De vastgelegde beschrijvingen van de  inspectie locatie tijdens inspectie.</documentation>
        </annotation>
    </element>
    <complexType name="LocationInspectionType">
        <sequence>
            <element name="inspectedSurface" type="gml:MeasureType" minOccurs="0">
                <annotation>
                    <documentation>Het geïnspecteerde oppervlakte van een locatie voor asbestonderzoek</documentation>
                </annotation>
            </element>
            <element name="weatherConditions" type="string" minOccurs="0">
                <annotation>
                    <documentation>Meldingswaardige weersomstandigheden die invloed hebben op de veldinspectie</documentation>
                </annotation>
            </element>
            <element name="inspectionTime" type="string" minOccurs="0">
                <annotation>
                    <documentation>Het tijdstip waarop de veldinspectie is uitgevoerd</documentation>
                </annotation>
            </element>
            <element name="inspectionSightType" type="string" minOccurs="0">
                <annotation>
                    <documentation>Het type zicht tijdens de inspectielocatie

Gebruikt domeintabel: ZichtType</documentation>
                </annotation>
            </element>
            <element name="precipitationType" type="gml:CodeType" minOccurs="0">
                <annotation>
                    <documentation>Het type neerslag tijdens de veldinspectie

Gebruikt Domeintabel: NeerslagType</documentation>
                </annotation>
            </element>
            <element name="coverageAmount" type="gml:MeasureType" minOccurs="0">
                <annotation>
                    <documentation>De mate van bedekking van de inspectielocatie</documentation>
                </annotation>
            </element>
            <element name="coverageRemovedType" type="string" minOccurs="0">
                <annotation>
                    <documentation>Of de bedekking is verwijderd ten behoeve van de locatieinspectie

Gebruikt domeintabel: J_of_N</documentation>
                </annotation>
            </element>
            <element name="coverageType" type="string" minOccurs="0">
                <annotation>
                    <documentation>Het type van bedekking op de inspectielocatie

Gebruikt Domeintabel: MaaiveldType</documentation>
                </annotation>
            </element>
            <element name="coverageAfterRemoval" type="gml:MeasureType" minOccurs="0">
                <annotation>
                    <documentation>De mate van bedekking na verwijdering</documentation>
                </annotation>
            </element>
            <element name="inspectionEfficiency" type="gml:MeasureType" minOccurs="0">
                <annotation>
                    <documentation>Een schatting van de inspectie efficiëntie tijdens de locatieinspectie</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="LocationInspectionPropertyType">
        <sequence>
            <element ref="imsikb0101:LocationInspection"/>
        </sequence>
    </complexType>
    <element name="MetaInformation" type="imsikb0101:MetaInformationType" substitutionGroup="gml:AbstractObject">
        <annotation>
            <documentation>Metainformation - alle metainformatie over het SIKB0101 bestand, zoals waar het bestand gemaakt is, wanneer het gemaakt is en welke datastroom het bestand in valt staat hier weergegeven.</documentation>
        </annotation>
    </element>
    <complexType name="MetaInformationType">
        <sequence>
            <element name="application" type="gml:CodeType" minOccurs="0">
                <annotation>
                    <documentation>applicatie: De naam van de applicatie waarmee het bestand is gemaakt om de bodeminformatie van de locatie digitaal uit te wisselen. - applicatie - applicatie_id</documentation>
                </annotation>
            </element>
            <element name="date" type="date" minOccurs="0">
                <annotation>
                    <documentation>datum: De datum waarop het bestand is gegenereerd. - datum</documentation>
                </annotation>
            </element>
            <element name="organisation" type="string" minOccurs="0">
                <annotation>
                    <documentation>organisatie: De naam van de leverancier die het bestand heeft geleverd waarin de bodeminformatie is opgeslagen. Dit veld wordt niet gebruikt bij de updatesystematiek tijdens het uitwisselen van bodeminformatie tussen gegevensbeheerders. - organisatie</documentation>
                </annotation>
            </element>
            <element name="remarks" type="string" minOccurs="0">
                <annotation>
                    <documentation>opmerkingen: aanvullende informatie over het uitwisselbestand - opmerking</documentation>
                </annotation>
            </element>
            <element name="reportDate" type="date" minOccurs="0">
                <annotation>
                    <documentation>rapportage datum: rapportagedatum</documentation>
                </annotation>
            </element>
            <element name="sender" type="gml:CodeType" minOccurs="0">
                <annotation>
                    <documentation>verzender: De identificatie van de partij die de bodeminformatie verzendt. Deze identificatie wordt gebruikt voor de updatesystematiek tijdens het uitwisselen vna bodeminformatie tussen gegevensbeheerders. - verzender - bronhouder_id</documentation>
                </annotation>
            </element>
            <element name="supplier" type="gml:CodeType" minOccurs="0"/>
            <element name="version" type="string"/>
            <element name="dataflow" type="gml:CodeType" minOccurs="0"/>
        </sequence>
    </complexType>
    <complexType name="MetaInformationPropertyType">
        <sequence>
            <element ref="imsikb0101:MetaInformation"/>
        </sequence>
    </complexType>
    <element name="Plot" type="imsikb0101:PlotType" substitutionGroup="immetingen:MeasurementObject">
        <annotation>
            <documentation>plot
elementary area where individual observations are made and/or samples are taken

Plot is a subtype of SF_SpatialSamplingFeature. The plot provides the connection between the discrete location of a sampling or an observation and the site. Plot is also a typical feature of interest of soil observations. Plot has three subtypes: Surface, TrialPit and Borehole.</documentation>
        </annotation>
    </element>
    <complexType name="PlotType">
        <complexContent>
            <extension base="immetingen:MeasurementObjectType">
                <sequence>
                    <element name="site" type="imsikb0101:SitePropertyType" minOccurs="0">
                        <annotation>
                            <appinfo>
                                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">imsikb0101:samplingPlot</reversePropertyName>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="usedInProject" type="imsikb0101:ProjectPropertyType" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">imsikb0101:measurementObjects</reversePropertyName>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PlotPropertyType">
        <sequence minOccurs="0">
            <element ref="imsikb0101:Plot"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="ProfileElement" type="imsikb0101:ProfileElementType" substitutionGroup="sams:SF_SpatialSamplingFeature">
        <annotation>
            <documentation>profile element
general term for both horizons and layers

verticale uitsnede in of van de bodem met uniforme kenmerken en met een begin- en einddiepte</documentation>
        </annotation>
    </element>
    <complexType name="ProfileElementType">
        <complexContent>
            <extension base="sams:SF_SpatialSamplingFeatureType">
                <sequence>
                    <element name="upperDepth" type="immetingen:DepthPropertyType" minOccurs="0">
                        <annotation>
                            <documentation>Bovenkant/begin van de laag</documentation>
                        </annotation>
                    </element>
                    <element name="lowerDepth" type="immetingen:DepthPropertyType" minOccurs="0">
                        <annotation>
                            <documentation>Onderkant/einde van de laag</documentation>
                        </annotation>
                    </element>
                    <element name="order" type="integer" minOccurs="0">
                        <annotation>
                            <documentation>Volgorde van boven naar beneden</documentation>
                        </annotation>
                    </element>
                    <element name="identification" type="immetingen:NEN3610IDPropertyType">
                        <annotation>
                            <documentation>Een unieke code die wordt aangemaakt als het object voor het eerst wordt aangemaakt.</documentation>
                        </annotation>
                    </element>
                    <element name="remark" type="string" minOccurs="0">
                        <annotation>
                            <documentation>opmerkingen</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ProfileElementPropertyType">
        <sequence minOccurs="0">
            <element ref="imsikb0101:ProfileElement"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Project" type="imsikb0101:ProjectType" substitutionGroup="gml:AbstractFeature">
        <annotation>
            <documentation>project
&lt;digital exchange of soil-related data&gt;
activity that leads to the collection of soil data
unique process, consisting of a set of coordinated and controlled activities with start and finish dates, undertaken to achieve an objective conforming to specific requirements, including the constraints of time, cost and resources [ISO 10006], in this case the collection or interpretation of soil data.
Note 1: An individual project may form part of a larger project structure.  
Note 2: In some projects, the objective(s) is (are) refined and the product characteristics defined progressively as the project proceeds. (IEC 62198:2001).
Note 3: The data can be existing or new.</documentation>
        </annotation>
    </element>
    <complexType name="ProjectType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="asbestos" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>Asbest aanwezig?
Domeintabel: AsbestAanwezigheid</documentation>
                        </annotation>
                    </element>
                    <element name="assesorConclusion" type="string" minOccurs="0">
                        <annotation>
                            <documentation>belangrijkste resultaten van het onderzoek volgens de beoordelaar van het rapport</documentation>
                        </annotation>
                    </element>
                    <element name="assignmentCode" type="string" minOccurs="0">
                        <annotation>
                            <documentation>door opdrachtgever gehanteerde identificatiecode van het project</documentation>
                        </annotation>
                    </element>
                    <element name="followUpStatement" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>vervolg_oordeel , Beoordeling van het bevoegd gezag n.a.v. het onderzoek
Domeintabel: VervolgWBB</documentation>
                        </annotation>
                    </element>
                    <element name="dataAdministrator" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>Bronhouder/gegevensbeheerder - De overheidsinstantie die de gegevensbeheerder van dit element is.
Domeintabel: Bronhouders</documentation>
                        </annotation>
                    </element>
                    <element name="endTime" type="dateTime" minOccurs="0">
                        <annotation>
                            <documentation>datum waarop het onderzoek is afgerond</documentation>
                        </annotation>
                    </element>
                    <element name="investigationConclusion" type="string" minOccurs="0">
                        <annotation>
                            <documentation>belangrijkste resultaten van het onderzoek volgens de auteur van het rapport</documentation>
                        </annotation>
                    </element>
                    <element name="investigationReason" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>aanduiding van de aanleidingen van het onderzoek.
Domeintabel: OnderzoekAanleidingen</documentation>
                        </annotation>
                    </element>
                    <element name="geometry" type="gml:GeometryPropertyType" minOccurs="0">
                        <annotation>
                            <documentation>Geometry van het onderzoek</documentation>
                        </annotation>
                    </element>
                    <element name="identification" type="immetingen:NEN3610IDPropertyType">
                        <annotation>
                            <documentation>Een unieke code die wordt aangemaakt als het object voor het eerst wordt aangemaakt.</documentation>
                        </annotation>
                    </element>
                    <element name="name" type="string" minOccurs="0">
                        <annotation>
                            <documentation>Naam van het project/onderzoek</documentation>
                        </annotation>
                    </element>
                    <element name="phase" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>aanduiding van de onderzoeksfase conform Wbb.
Domeintabel: OnderzoeksfaseType</documentation>
                        </annotation>
                    </element>
                    <element name="projectCode" type="string">
                        <annotation>
                            <documentation>door opdrachtnemer gehanteerde identificatiecode van het project</documentation>
                        </annotation>
                    </element>
                    <element name="projectType" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>Aanduiding van het type onderzoek/rapport dat voor de locatie is uitgevoerd/opgesteld.
Domeintabel: OnderzoekType</documentation>
                        </annotation>
                    </element>
                    <element name="remarks" type="string" minOccurs="0">
                        <annotation>
                            <documentation>aanvullende opmerkingen</documentation>
                        </annotation>
                    </element>
                    <element name="reportCertificateNumber" type="string" minOccurs="0">
                        <annotation>
                            <documentation>Certificering nummer van de applicatie die de rapportage heeft gemaakt</documentation>
                        </annotation>
                    </element>
                    <element name="reportDate" type="date" minOccurs="0">
                        <annotation>
                            <documentation>De datum van het onderzoek/rapport waarin de resultaten zijn vastgelegd</documentation>
                        </annotation>
                    </element>
                    <element name="reportNumber" type="string" minOccurs="0">
                        <annotation>
                            <documentation>Het nummer of kenmerk van het onderzoek/rapport waarin de resultaten zijn vastgelegd</documentation>
                        </annotation>
                    </element>
                    <element name="startTime" type="dateTime" minOccurs="0">
                        <annotation>
                            <documentation>datum waarop het onderzoek is gestart</documentation>
                        </annotation>
                    </element>
                    <element name="potentiallyContaminated" type="boolean" minOccurs="0">
                        <annotation>
                            <documentation>aanduiding of de locatie al dan niet verdacht wordt van ernstig
bodemverontreiniging</documentation>
                        </annotation>
                    </element>
                    <element name="potentialContaminantParameter" type="immetingen:PhysicalProperty_PropertyType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>stoffen die als gevolg van (potentieel) verdachte activiteiten vermoedelijk in verhoogde concentratie aanwezig zijn</documentation>
                        </annotation>
                    </element>
                    <element name="tank" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>Tank aanwezig?
Domeintabel: TankAanwezigheid</documentation>
                        </annotation>
                    </element>
                    <element name="strategyType" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>De NEN strategie die gebruikt is voor het millieuonderzoek
Gebruikt Domeintabel: StrategieType</documentation>
                        </annotation>
                    </element>
                    <element name="broId" type="string" minOccurs="0">
                        <annotation>
                            <documentation>De identificatie van dit project als een SAD registratieobject in het BRO-loket.</documentation>
                        </annotation>
                    </element>
                    <element name="samplesInProject" type="imsikb0101:SamplePropertyType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">imsikb0101:inProject</reversePropertyName>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="usingMonitoringNetwork" type="immetingen:MonitoringNetworkPropertyType" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="siteOfInterest" type="imsikb0101:SitePropertyType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">imsikb0101:concernedProject</reversePropertyName>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="stakeholders" type="immetingen:SubjectPropertyType" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="measurementObjects" type="imsikb0101:PlotPropertyType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">imsikb0101:usedInProject</reversePropertyName>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="dossiers" type="imsikb0101:SoilManagementDossierPropertyType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">imsikb0101:projects</reversePropertyName>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="Addresses" type="immetingen:AddressPropertyType" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="documents" type="imsikb0101:DocumentPropertyType" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ProjectPropertyType">
        <sequence minOccurs="0">
            <element ref="imsikb0101:Project"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Sample" type="imsikb0101:SampleType" substitutionGroup="immetingen:Sample">
        <annotation>
            <documentation>Een monster, idientiek aan die van IMMetingen maar met extra koppelingen naar: Project, MonsterVerontreiniging, AsbestSamenstelling en UitloogFractie.</documentation>
        </annotation>
    </element>
    <complexType name="SampleType">
        <complexContent>
            <extension base="immetingen:SampleType">
                <sequence>
                    <element name="inProject" type="imsikb0101:ProjectPropertyType" minOccurs="0">
                        <annotation>
                            <appinfo>
                                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">imsikb0101:samplesInProject</reversePropertyName>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="expectedPollutions" type="imsikb0101:SamplePollutionPropertyType" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="asbestos" type="imsikb0101:AsbestosCompositionPropertyType" minOccurs="0"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SamplePropertyType">
        <sequence minOccurs="0">
            <element ref="imsikb0101:Sample"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="SamplePollution" type="imsikb0101:SamplePollutionType" substitutionGroup="gml:AbstractObject">
        <annotation>
            <documentation>De waargenomen mate van verontreiniging van het veldmonster.</documentation>
        </annotation>
    </element>
    <complexType name="SamplePollutionType">
        <sequence>
            <element name="pollutionGroupCode" type="gml:CodeType">
                <annotation>
                    <documentation>Vervuilinggroep - Groep waartoe de verwachte vervuiling behoort.
Domeintabel: VervuilingGroep</documentation>
                </annotation>
            </element>
            <element name="gradation" type="gml:CodeType">
                <annotation>
                    <documentation>Gradatie van de verwachte vervuiling, gradatie_c: zeer zwak, zwak, matig, sterk, zeer sterk.
Domeintabel: VervuilinggroepGradatie</documentation>
                </annotation>
            </element>
            <element name="expectedValue" type="string">
                <annotation>
                    <documentation>Verwachte waarde, door adviseur geschat, waarbij kan aangegeven zijn of de waarde "kleiner dan" of "groter dan" is.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="SamplePollutionPropertyType">
        <sequence>
            <element ref="imsikb0101:SamplePollution"/>
        </sequence>
    </complexType>
    <element name="Site" type="imsikb0101:SiteType" substitutionGroup="gml:AbstractFeature">
        <annotation>
            <documentation>site
defined area which is subject to a soil quality investigation

A site is a defined, spatially extended area and provides the real world object to which soil data are related. It represents the spatial link between point, linear and areal soil observations on the one hand and its environment (e.g. the landscape or larger spatial objects) on the other. As such, it provides the possibility to connect data on spatially extended phenomena, e.g. vegetation, with point, linear and areal sampling features (plots). It also allows for the possibility to combine the results of (quasi-)synchronous repetitions of observations of the same kind. The site is furthermore the time link between repeated soil observations, e.g. in the framework of a soil monitoring. Generally, within one single project, a site is spatially invariant, but contains all plots for single or repeated observations and samplings, both related to one point in time or several points in time. Very often, the data obtained on a site are considered to originate from one single point in further data processing and evaluation.
In terms of OM, each site is a sampled feature of its plots which are spatial sampling features. Site serves also as a typical feature of interest of soil observations.</documentation>
        </annotation>
    </element>
    <complexType name="SiteType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="extend" minOccurs="0">
                        <annotation>
                            <documentation>is a map polygon delineating the boundaries on the earth's surface.</documentation>
                        </annotation>
                        <complexType>
                            <complexContent>
                                <extension base="gml:AbstractMemberType">
                                    <sequence minOccurs="0">
                                        <element ref="gml:PolygonPatch"/>
                                    </sequence>
                                    <attributeGroup ref="gml:AssociationAttributeGroup"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element name="position" type="gml:PointPropertyType" minOccurs="0">
                        <annotation>
                            <documentation>is a point coordinate providing the location on earth.</documentation>
                        </annotation>
                    </element>
                    <element name="name" type="string">
                        <annotation>
                            <documentation>Naam zoals de deellocatie bekend is</documentation>
                        </annotation>
                    </element>
                    <element name="identification" type="immetingen:NEN3610IDPropertyType">
                        <annotation>
                            <documentation>Een unieke code die wordt aangemaakt als het object voor het eerst wordt aangemaakt.</documentation>
                        </annotation>
                    </element>
                    <element name="siteType" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>Het type ruimtelijke groepering of onderzoeks gebied waarmee 1 of meerdere meetpunten bij elkaar tot een groep, meetnet of gebied ingedeeld kunnen worden.

Domeintabel: RuimtelijkOnderzoeksGebiedType</documentation>
                        </annotation>
                    </element>
                    <element name="surfaceAreaSize" type="gml:MeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Het totale oppervlakte van de ruimtelijke eenheid die gehanteerd is bij het nader asbestonderzoek</documentation>
                        </annotation>
                    </element>
                    <element name="samplingPlot" type="imsikb0101:PlotPropertyType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">imsikb0101:site</reversePropertyName>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="concernedProject" type="imsikb0101:ProjectPropertyType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">imsikb0101:siteOfInterest</reversePropertyName>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="locationInspection" type="imsikb0101:LocationInspectionPropertyType" minOccurs="0"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SitePropertyType">
        <sequence minOccurs="0">
            <element ref="imsikb0101:Site"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="SoilLocation" type="imsikb0101:SoilLocationType" substitutionGroup="gml:AbstractFeature">
        <annotation>
            <documentation>Gebied waarop bodeminformatie van toepassing is</documentation>
        </annotation>
    </element>
    <complexType name="SoilLocationType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="area" type="gml:MeasureType" minOccurs="0">
                        <annotation>
                            <documentation>De oppervlakte van de locatie (in vierkante meters) waarvan bodeminformatie bekend is.</documentation>
                        </annotation>
                    </element>
                    <element name="geometry" type="gml:GeometryPropertyType" minOccurs="0">
                        <annotation>
                            <documentation>Geometrie van de bodemlocatie : punt, lijnstuk of (verzameling van) polygoon</documentation>
                        </annotation>
                    </element>
                    <element name="identification" type="immetingen:NEN3610IDPropertyType">
                        <annotation>
                            <documentation>Een unieke code die wordt aangemaakt als het object voor het eerst wordt aangemaakt.</documentation>
                        </annotation>
                    </element>
                    <element name="name" type="string" minOccurs="0">
                        <annotation>
                            <documentation>De naam van de locatie waardoor deze herkend kan worden.</documentation>
                        </annotation>
                    </element>
                    <element name="noteLocationCreation" type="string" minOccurs="0">
                        <annotation>
                            <documentation>toelichting_aanmaak_locatie - Toeliching voor het aanmaken van de locatie</documentation>
                        </annotation>
                    </element>
                    <element name="remarks" type="string" minOccurs="0">
                        <annotation>
                            <documentation>aanvullende opmerkingen</documentation>
                        </annotation>
                    </element>
                    <element name="statdyn" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>aanduiding van de ruimtelijke, maatschappelijke of
economische dynamiek van de locatie conform Monitoring
Bodemsanering. (statisch/dynamisch)
Domeintabel: Stat_Dyn</documentation>
                        </annotation>
                    </element>
                    <element name="Addresses" type="immetingen:AddressPropertyType" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="addressLocations" type="imsikb0101:AddressLocationPropertyType" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SoilLocationPropertyType">
        <sequence minOccurs="0">
            <element ref="imsikb0101:SoilLocation"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="SoilManagementDossier" type="imsikb0101:SoilManagementDossierType" substitutionGroup="gml:AbstractFeature">
        <annotation>
            <documentation>BodemBeheerDossier</documentation>
        </annotation>
    </element>
    <complexType name="SoilManagementDossierType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="identification" type="immetingen:NEN3610IDPropertyType">
                        <annotation>
                            <documentation>Een unieke code die wordt aangemaakt als het object voor het eerst wordt aangemaakt.</documentation>
                        </annotation>
                    </element>
                    <element name="projects" type="imsikb0101:ProjectPropertyType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">imsikb0101:dossiers</reversePropertyName>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="soilLocation" type="imsikb0101:SoilLocationPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SoilManagementDossierPropertyType">
        <sequence minOccurs="0">
            <element ref="imsikb0101:SoilManagementDossier"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="SubjectFeatureCollection" type="imsikb0101:SubjectFeatureCollectionType" substitutionGroup="gml:AbstractFeature">
        <annotation>
            <documentation>De mogelijkheid om een hele collectie met Betrokkenen los te kunnen uitwisselen.</documentation>
        </annotation>
    </element>
    <complexType name="SubjectFeatureCollectionType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="member" type="immetingen:SubjectPropertyType" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SubjectFeatureCollectionPropertyType">
        <sequence minOccurs="0">
            <element ref="imsikb0101:SubjectFeatureCollection"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Trench" type="imsikb0101:TrenchType" substitutionGroup="imsikb0101:Borehole">
        <annotation>
            <documentation>Meetobject voor het definieren van Sleuven en asbestinspectiegaten</documentation>
        </annotation>
    </element>
    <complexType name="TrenchType">
        <complexContent>
            <extension base="imsikb0101:BoreholeType">
                <sequence>
                    <element name="length" type="gml:MeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Lengte van een asbestinspectie gat of sleuf</documentation>
                        </annotation>
                    </element>
                    <element name="width" type="gml:MeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Breedte van een asbestinspectie gat of sleuf</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TrenchPropertyType">
        <sequence minOccurs="0">
            <element ref="imsikb0101:Trench"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>