Versie 0.99/SAD Uitwisselberichten/XSD en voorbeeld XML/issad.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="issad"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:brocom="http://www.broservices.nl/xsd/brocommon/3.0"
                  xmlns:sadcom="http://www.broservices.nl/xsd/sadcommon/1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:msg="http://www.broservices.nl/xsd/issad/1.0"
                  xmlns:tns="http://www.broservices.nl/wsdl/issad/1.0"
                  targetNamespace="http://www.broservices.nl/wsdl/issad/1.0">

    <wsdl:documentation>
        This WSDL defines the webservice for the sad intake webservice (SiteAssessmentData)
        in the context of the base registry subsurface (Basisregistratie Ondergrond).
        This is version 1.0.0
        Changes compared to Version:1.0.0:
        -
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:tns="http://www.broservices.nl/wsdl/issad/1.0" targetNamespace="http://www.broservices.nl/wsdl/issad/1.0">
            <!--
            <xsd:import namespace="http://www.broservices.nl/xsd/issad/1.0" schemaLocation="https://schema.broservices.nl/xsd/issad/0.9/issad-messages.xsd"/>
    -       -->
            <xsd:import namespace="http://www.broservices.nl/xsd/issad/1.0" schemaLocation="./issad-messages.xsd"/>
            <!--
            <xsd:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="https://schema.broservices.nl/xsd/brocommon/3.0/brocommon.xsd"/>
            -->
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="registrationRequest">
        <wsdl:part element="msg:registrationRequest" name="request"/>
    </wsdl:message>
    
    <wsdl:message name="correctionRequest">
        <wsdl:part element="msg:correctionRequest" name="request"/>
    </wsdl:message>

    <wsdl:message name="intakeResponse">
        <wsdl:part element="msg:intakeResponse" name="response"/>
    </wsdl:message>

    <wsdl:message name="parseSoapFault">
        <wsdl:part element="msg:parseFault" name="parseFault"/>
    </wsdl:message>

    <wsdl:message name="DeliveryResponsiblePartyHeader">
        <wsdl:part name="deliveryResponsibleParty" element="sadcom:Organization" />
    </wsdl:message>

    <wsdl:portType name="issad">
        <wsdl:operation name="register">
            <wsdl:input message="tns:registrationRequest" wsam:Action="http://www.broservices.nl/wsdl/issad/1.0/registrationRequest"/>
            <wsdl:output message="tns:intakeResponse" wsam:Action="http://www.broservices.nl/wsdl/issad/1.0/intakeResponse"/>
            <wsdl:fault message="tns:parseSoapFault" name="parseFault" wsam:Action="http://www.broservices.nl/wus/issad/parseSoapFault"/>
        </wsdl:operation>
        <wsdl:operation name="correct">
            <wsdl:input message="tns:correctionRequest" wsam:Action="http://www.broservices.nl/wsdl/issad/1.0/correctionRequest"/>
            <wsdl:output message="tns:intakeResponse" wsam:Action="http://www.broservices.nl/wsdl/issad/1.0/intakeResponse"/>
            <wsdl:fault message="tns:parseSoapFault" name="parseFault" wsam:Action="http://www.broservices.nl/wus/issad/parseSoapFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="issad_SOAP" type="tns:issad">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="register">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header use="literal" part="deliveryResponsibleParty" message="tns:DeliveryResponsiblePartyHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="parseFault">
                <soap:fault use="literal" name="parseFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="correct">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header use="literal" part="deliveryResponsibleParty" message="tns:DeliveryResponsiblePartyHeader"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="parseFault">
                <soap:fault use="literal" name="parseFault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="issad">
        <wsdl:port name="issad_SOAP" binding="tns:issad_SOAP">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
